.burger-constructor-item {
    position: relative;
}

.burger-constructor-item svg {
    display: block;
}

.burger-constructor-item-drag-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.burger-constructor-item-content {
    display: flex;
    align-items: center;
    background: var(--background);
    border-radius: var(--common-border-radius-s);
}

.burger-constructor-item-content > *:not(.burger-constructor-item-name) {
    flex-shrink: 0;
}

.burger-constructor-item-name {
    flex-grow: 2;
}

.burger-constructor-item:first-child .burger-constructor-item-content {
    border-top-right-radius: 88px;
    border-top-left-radius: 88px;
}

.burger-constructor-item:last-child .burger-constructor-item-content {
    border-bottom-right-radius: 88px;
    border-bottom-left-radius: 88px;
}