.button {
    background: transparent;
    border: none;
    color: var(--text-inactive-color);
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s all;
    margin: calc(var(--offset-base-size) * 4) calc(var(--offset-base-size) * 5);
}

.button svg {
    fill: currentColor;
}

.button:hover,
.button:focus,
.button.active {
    color: var(--text-primary-color);
}