.burger-ingredients-group {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.burger-ingredients-group > .text.text_type_main-medium:first-child {
    width: 100%;
}

.burger-ingredients-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}