.backgroundWrapper {
    background: var(--background);
}

.wrapper {
    width: var(--wrapper-width);
    margin: var(--wrapper-margin);
}

.header {
    padding: calc(var(--offset-base-size) * 4);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.header > nav > ul {
    display: flex;
}

.header > nav:last-child {
    text-align: right;
}

.header > nav > .button {
    margin-right: calc(var(--offset-base-size) * 2);
}