.header {
    padding: 16px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.header > nav > ul {
    display: flex;
}

.header > nav:last-child {
    text-align: right;
}

.header > nav > .button {
    margin-right: calc(var(--offset-base-size) * 2);
}