.page-main {
    width: 1240px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page-main .burger-ingredients,
.page-main .burger-constructor {
    width: calc(50% - 20px);
}